<br>
<hr>
<div id="provocative_word_display">
  <%= render 'thinker/partials/provocative_word_display' %>
</div>
<div id="search_results_display">
  <%= render 'thinker/partials/search_results' %>
</div>

<div class="opaqify-container" style="background-color:rgba(255,255,255,0.09);padding: 19px">
<%= render 'form' %>
</div>