<ul class="nav nav-pills" id="mainTabs" >
  <li class="active"><a href="#constructs" style="font-size: 14px;"><i class="icon-book icon-white"></i> Constructs</a></li>
  <li><a href="#cognitions" data-toggle="tab" style="font-size: 14px;"><i class="icon-cog icon-white"></i> Cognitions</a></li>
  <div class="pull-right nav nav-pills" id="mainTabs">
    <li><a href="#link_cache" data-toggle="tab"><i class="icon-tags icon-white"></i> LinkCache</a></li>
    <li><a href="#to_do_list" data-toggle="tab"><i class="icon-list icon-white"></i> Remembrall</a></li>
    <li><a href="#bookmarks" data-toggle="tab"><i class="icon-bookmark icon-white"></i> BookMarks</a></li>
  </div>

</ul>
<!--</div>-->
<div class="opaqify-container">

  <div class="tab-content">



    <!--======================================= CONSTRUCTS =======================================-->
    <div class="tab-pane fade in active" id="constructs">

      <ul class="nav nav-pills" id="constructsTabs">
        <li class="active"><a href="#constructs-median"><i class="icon-book icon-white"></i> MEDIAN</a></li>
        <li><a href="#main-concepts"><i class="icon-th icon-white"></i> Concepts</a></li>
        <li><a href="#main-brain_childs"><i class="icon-eye-open icon-white"></i> BrainChilds</a></li>
        <li><a href="#main-discourses"><i class="icon-qrcode icon-white"></i> Discourses</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="constructs-median">
          Median
        </div>
        <div class="tab-pane fade" id="main-concepts">
          CONCEPTS
        </div>
        <div class="tab-pane fade" id="main-brain_childs">
          BRAIN CHILDS
        </div>
        <div class="tab-pane fade" id="main-discourses">
          DISCOURSES
        </div>
      </div>

    </div>


    <!--======================================= COGNITIONS =======================================-->
    <div class="tab-pane fade" id="cognitions">

      <ul class="nav nav-pills" id="cognitionsTabs">
        <li class="active"><a href="#cognitions-median"><i class="icon-th-list icon-white"></i> Median - Cognitions</a></li>
        <li><a href="#main-epiphanies"><i class="icon-th icon-white"></i> Epiphanies</a></li>
        <li><a href="#main-brain_waves"><i class="icon-eye-open icon-white"></i> BrainWaves</a></li>
        <li><a href="#main-factoids"><i class="icon-qrcode icon-white"></i> Factoids</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="cognitions-median">
          <p>Cognition is the mental action or process of acquiring knowledge and understanding through thought, experience, and the senses. Cognitions are acquired through perception, sensation or intuition. These realizations generally result in the most innovative, intriguing and fascinating thoughts. Cognitions are branched into 3 subcategories - Epiphanies, BrainWaves and Factoids.<br>&nbsp;&nbsp;&bull;&nbsp;&nbsp;Epiphanies are sudden realizations or thoughts which are slightly philosophical or meta-physical in nature. Epiphanies are enhanced to <strong>Concepts</strong><br>&nbsp;&nbsp;&bull;&nbsp;&nbsp;BrainWaves are ideas, generally for projects. BrainWaves are enhanced to <strong>BrainChilds</strong><br>&nbsp;&nbsp;&bull;&nbsp;&nbsp;Factoids are accurate data pertaining to a relevant construct. Factoids are enhanced to <strong>Discourses</strong><br>This is the first level of categorization and organization of your thoughts.</p>
        </div>
        <div class="tab-pane fade" id="main-epiphanies">
          <%= render 'thinker/partials/epiphany_display' %>
        </div>
        <div class="tab-pane fade" id="main-brain_waves">
          <%= render 'thinker/partials/brain_wave_display' %>
        </div>
        <div class="tab-pane fade" id="main-factoids">
          <%= render 'thinker/partials/factoid_display' %>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="link_cache">
      <%#= render 'thinker/partials/link_cache_form' %>
      <div id="page"></div>
      LINK CACHE
      <div id="display_link_cache"><%#= render 'thinker/partials/link_cache_display' %></div>
    </div>
    <div class="tab-pane fade" id="bookmarks">
      <%#= render 'thinker/partials/bookmark_display' %>
      BOOKMARKS
    </div>
    <div class="tab-pane fade" id="to_do_list">
      REMEMBRALL
      <%#= render 'thinker/partials/to_do_display' %>
    </div>
  </div>
</div>


<script>
    $('#mainTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
<script>
    $('#constructsTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
<script>
    $('#cognitionsTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
