<div class="form-inline">
  <%= form_tag({:controller => "thinker",:action => "bing_search"}, :target => "_blank") do %>
      <%= text_field(nil,:bing_search_parameter, :class=> "span8", :placeholder => "Search Bing ... ", :required => true ) %>
      <%= submit_tag "Bing", class: "span3 btn btn-success"%>
  <% end %>
</div>

