<div style="max-height: 393px;overflow: auto">
  <% @howls.each do |howl| %>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2">
            Tortured Soul >>>>>
          </div>
          <div class="span10">
            <%= howl.howl.capitalize %><br>
          </div>
        </div>
      </div>

  <%end%>
</div>
