<div style="max-height: 393px;overflow: auto">
  <% @howls.each do |howl| %>
      <div class="container-fluid">
        <div class="row-fluid" style="font-family: Papyrus">
          <div class="span2 muted">
            <%= howl.mind_set rescue "Tortured Soul" %>&nbsp;>>>>>
          </div>
          <div class="span10">
            <%= howl.howl.capitalize %>
          </div>
        </div>
      </div>
      <!--<br>-->
  <%end%>
</div>
