<div class="lead" style="color: white;font-family: Papyrus;text-align: center;font-size: 31px">
  <strong><em>
    HOWL
  </em></strong>
</div>
<br>
<br>
<div class="container-fluid" style="color: white">
  <div class="row-fluid">
    <div class="span2"></div>

    <div class="span8">
        <div class="opaqify"  id="howl-chat-display">
          <div style="max-height: 433px;overflow: auto">
          <% 50.times do  %>
          Tortured Soul >>>>><br>
              <%end%>
        </div>
        </div>
    </div>

    <div class="span2">
    </div>
  </div>
</div>
<script>
//    $(document).ready( function(){
//    var h1=$('#howl-display').height();
//    var h2 = 150-h1;
//    $('#c2').height(h2);
//    }
</script>