<div id="footer" class="container">
  <p class="pull-left">Copyright © 2013 mental-constructs.com. All rights reserved by <a href="/how_to_use/index#about"> CrwTH Software Solutions</a>.</p>
  <nav class="pull-right">
    <ul>
      <a href="/how_to_use/index#about">About</a> &nbsp;|&nbsp;
      <a href="/how_to_use/index#contact">Contact</a> &nbsp;|&nbsp;
      <a href="/how_to_use/index#special_thanks_to">Special Thanks to ...</a>
    </ul>
  </nav>
</div>