<p style="color: white;font-size: 15px">How to use -</p>
<div class="row-fluid">
  <div class="span3">
    <div class="blanker-box" style="padding: 13px">
<ul class="nav nav-pills nav-stacked" id="how_to_useTabs">
  <li class=""><a href="#constructs"><i class="icon-book icon-white"></i> Constructs</a></li>
  <li><a href="#ideas" data-toggle="tab"><i class="icon-cog icon-white"></i> Cognitions</a></li>
  <li><a href="#epiphanies" data-toggle="tab" class=""><i class="icon-th icon-white"></i> Epiphanies</a></li>
  <li><a href="#brain_waves" data-toggle="tab"><i class="icon-eye-open icon-white"></i> BrainWaves</a></li>
  <li><a href="#factoids" data-toggle="tab"><i class="icon-qrcode icon-white"></i> Factoids</a></li>
  <li><a href="#brain_storm" data-toggle="tab"><i class="icon-cog icon-white"></i> BrainStorm</a></li>
  <li><a href="#link_cache" data-toggle="tab"><i class="icon-tags icon-white"></i> LinkCache</a></li>
  <li><a href="#to_do_list" data-toggle="tab"><i class="icon-list icon-white"></i> Remembrall</a></li>
  <li><a href="#bookmarks" data-toggle="tab"><i class="icon-bookmark icon-white"></i> Tagged Exhibits</a></li>
  <li class="divider"></li>
  <li><a href="#exhibits" data-toggle="tab"><i class="icon-globe icon-white"></i> Exhibits</a></li>
</ul>
  </div>
  </div>
  <div class="span9">
  <div class="blanker-box" style="padding: 13px">

    <div class="tab-content">
      <div class="tab-pane fade in active" id="">
        <p>The first step to organize thoughts are to categorize the type of thought. Man gets philosophical at times, sometimes
          he gets ideas and most of the times these go unrecorded. Even if they are recorded most of the times they are scribbled
          and later disregarded. Here your first step is to categorize your thoughts, thus streamlining your thinking and provoking
          further stream of thoughts.</p>
      </div>

      <div class="tab-pane fade" id="constructs">
        Constructs
      </div>

      <div class="tab-pane fade" id="cognitions">
        Cognitions
      </div>

      <div class="tab-pane fade" id="epiphanies">
        Epiphanies
      </div>

      <div class="tab-pane fade" id="ideas">
        Ideas
      </div>

      <div class="tab-pane fade" id="brain_waves">
        Brainwaves
      </div>

      <div class="tab-pane fade" id="factoids">
        Factoids
      </div>

      <div class="tab-pane fade" id="brain_storm">
        BrainStorms
      </div>

      <div class="tab-pane fade" id="link_cache">
        Link Cache
      </div>

      <div class="tab-pane fade" id="to_do_list">
        Remembrall
      </div>

      <div class="tab-pane fade" id="bookmarks">
        Bookmarks
      </div>

      <div class="tab-pane fade" id="exhibits">
        Exhibits
      </div>


    </div>
  </div>
    </div>
</div>
<script>
    $('#how_to_useTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
