<p style="color: white;font-size: 15px">How to use -</p>
<div class="row-fluid">
  <div class="span3">
    <div class="blanker-box" style="padding: 13px">
<ul class="nav nav-pills nav-stacked" id="how_to_useTabs">
  <li class=""><a href="#constructs"><i class="icon-book icon-white"></i> Constructs</a></li>
  <li><a href="#cognitions" data-toggle="tab"><i class="icon-cog icon-white"></i> Cognitions</a></li>
  <li><a href="#epiphanies" data-toggle="tab" class=""><i class="icon-th icon-white"></i> Epiphanies</a></li>
  <li><a href="#brain_waves" data-toggle="tab"><i class="icon-eye-open icon-white"></i> BrainWaves</a></li>
  <li><a href="#factoids" data-toggle="tab"><i class="icon-qrcode icon-white"></i> Factoids</a></li>
  <li><a href="#brain_storm" data-toggle="tab"><i class="icon-cog icon-white"></i> BrainStorm</a></li>
  <li><a href="#link_cache" data-toggle="tab"><i class="icon-tags icon-white"></i> LinkCache</a></li>
  <li><a href="#to_do_list" data-toggle="tab"><i class="icon-list icon-white"></i> Remembrall</a></li>
  <li><a href="#bookmarks" data-toggle="tab"><i class="icon-bookmark icon-white"></i> Tagged Exhibits</a></li>
  <li class="divider"></li>
  <li><a href="#exhibits" data-toggle="tab"><i class="icon-globe icon-white"></i> Exhibits</a></li>
</ul>
  </div>
  </div>
  <div class="span9">
  <div class="blanker-box" style="padding: 13px">

    <div class="tab-content">
      <div class="tab-pane fade in active" id="">
        <p>Mental Constructs is a Tool which allows you to record thoughts, ideas , facts , links. You can Upgrade them to Constructs and then Exhibit them.
          You can start BrainStorm sessions and map them to constructs. These wide variety of features should be understood well before they are actually used.
          This tutorial will allow you to understand each feature. <br>
          Click on the feature to read in detail  -
        </p>
      </div>

      <div class="tab-pane fade" id="constructs">
        <div class="lead text-info">Constructs</div>
        <p>
          Constructs are compiled thoughts that have been created with much deliberation and thought. It is an essay which depicts a
          concept of yours in a detailed manner.<br><br>

          Function of Each Tab under Constructs Tab in Thinker Panel-<br>
          <strong class="text-info">New Construct -</strong> The editor exists in New Construct Tab. You may use this editor extensively for your purpose
          or may write your Construct elsewhere and copy it here. Many options are present here eg - "Select Dossier", "Affinity Level", "Exhibit" etc ...<br>
          &nbsp;&bull;&nbsp;Select Dossier - Directly insert the new construct into an already existing Dossier.<br>
          &nbsp;&bull;&nbsp;Affinity Level - How much do you like the written Construct. Easier later on to define and categorize constructs.<br>
          &nbsp;&bull;&nbsp;Exhibit Construct - This will directly exhibit the construct on creation. This cannot be undone. So please be sure of your construct.<br>
          <strong class="text-info">Organizer -</strong> We encourage extensive use of Dossiers. Organize your Constructs in Dossiers for easy recollection and second tier
          categorization. You can move any number of Constructs to a Dossier. You can have any number of Dossiers. You can easily remove constructs and add them to other Dossiers.<br>
          &nbsp;&bull;&nbsp;StandAlone - Contains all the constructs not attached to any Dossier.<br>
          &nbsp;&bull;&nbsp;Other Tabs below StandAlone are your dossiers containing your constructs.<br>
          &nbsp;&bull;&nbsp;You can set the dossier quality according to your preference of the Dossier and its contents.
          <br>
          <strong class="text-info">List Constructs -</strong> Will list all your Constructs written till date. It has an option of displaying Constructs
          in any order you wish. Select the Choice from the Drop Down and "Display". Your required Constructs will be displayed. Each Block displays
          details about the construct, ie. Construct Quality, Dossier it belongs to, BrainStorms attached. It has easy options to immediately start reviewing or editing
          your constructs
          <br>
          <br>
          <strong class="text-info">BrainStorm Mapping -</strong>BrainStorm Sessions can be mapped to Constructs. To map a BrainStorm, start the
          Brain Storm Session you would like to map and click "Construct Mapping". Choose your construct and Map. One Construct can be mapped with only one
          BrainStorm. An already mapped BrainStorm cannot be mapped to another construct and vice versa.
        </p>
      </div>

      <div class="tab-pane fade" id="cognitions">
        <div class="lead text-info">Cognitions</div>
        <p>
          Cognition is the mental action or process of acquiring knowledge and understanding through thought, experience, and deliberation. Cognitions are acquired through perception, sensation or intuition. These realizations generally result in the most innovative, intriguing and fascinating thoughts.
          Cognition is any form of cognitive activity. MentalConstructs has narrowed down "Cognitions" into 3 major subcategories. Epiphanies, BrainWaves and Factoids.<br>
          &nbsp;&bull;&nbsp;Epiphanies - are a sudden manifestation of the essence or meaning of something or a comprehension or perception of reality by means of a sudden intuitive realization. Philosophical thoughts defining your own individual being.<br>
          &nbsp;&bull;&nbsp;BrainWaves - are sudden ideas which may or may not be of monetary value but are inherent to your nature and you would like to build upon them.<br>
          &nbsp;&bull;&nbsp;Factoids - are solid facts pertaining to any subject in general.<br><br>
          Under Cognitions Tab in the Thinker panel you will find -<br>
          <strong class="text-info">Median - Cogntions -</strong> It is a simple explanation of Cognitions and what it entails. Also it contains
          a few subcategory cognitions which display the most recent or most prized cognition<br>
          <strong class="text-info">Epiphanies -</strong> Contains all your recorded epiphanies in descending order of created at time.<br>
          <strong class="text-info">BrainWaves -</strong> Contains all your recorded brainwaves in descending order of affinity for the brain wave.<br>
          <strong class="text-info">Factoids -</strong> Contains all your recorded factoids in descending order of created at time.<br>
        </p>
      </div>

      <div class="tab-pane fade" id="epiphanies">
        <div class="lead text-info">Epiphanies</div>
        <p>
          Epiphanies are a sudden manifestation of the essence or meaning of something or a comprehension or perception of reality by means of a sudden intuitive realization. Philosophical thoughts defining your own individual being.<br>
          <br>
          You can record epiphanies from a form which is visible in the right fixed panel which is generally available on most relevant pages.<br>
        </p>
          <div class="container-fluid">
          <div class="row-fluid">
            <div class="span7">
              <p>
              <strong class="text-info">Epiphanies</strong> - All recorded epiphanies are stored in Epiphanies under Cognitions Tab in thinker panel.
              </p>
            </div>
            <div class="span5 opaqify-container">
              <% unless current_thinker.nil?%>
                <%= render 'thinker/partials/epiphany_form' %>
              <% end%>
            </div>
          </div>
          </div>
      </div>

      <div class="tab-pane fade" id="brain_waves">
        <div class="lead text-info">BrainWaves</div>
        <p>
          BrainWaves are sudden ideas which may or may not be of monetary value but are inherent to your nature and you would like to build upon them.<br>
          <br>
          You can record brainwaves from a form which is visible in the right fixed panel which is generally available on most relevant pages.<br>
        </p>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span7">
              <p>
                <strong class="text-info">BrainWaves</strong> - All recorded brainwaves are stored in Factoids under Cognitions Tab in thinker panel.
              </p>
            </div>
            <div class="span5 opaqify-container">
              <% unless current_thinker.nil?%>
                  <%= render 'thinker/partials/brain_wave_form' %>
              <% end%>
            </div>
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="factoids">
        <div class="lead text-info">Factoids</div>
        <p>
          Factoids are solid facts pertaining to any subject in general.<br>
          <br>
          You can record factoids from a form which is visible in the right fixed panel which is generally available on most relevant pages.<br>
        </p>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span7">
              <p>
                <strong class="text-info">Factoids</strong> - All recorded factoids are stored in BrainWaves under Cognitions Tab in thinker panel.
              </p>
            </div>
            <div class="span5 boxed-template">
              <% unless current_thinker.nil?%>
                  <%= render 'thinker/partials/factoid_form' %>
              <% end%>
            </div>
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="brain_storm">
        <div class="lead text-info">Brain Storms</div>
        <p>
          BrainStorms are sessions of increased mental acuity when thoughts flow faster than you can record them. It is when you think upon an idea and
          conceptualize it by categorizing them into relevant points. BrainStorm is an interactive tool which allows you to do so. Brain Storms should generally
          have one relevant Construct to which it should be mapped. The BrainStorm should be graphical representation of the Construct defined. <br><br>
          Function of Each Tab under BrainStorm Tab in Thinker Panel-<br>
          <strong class="text-info">List BrainStorms</strong> - Is a list of all the brain storms ever initiated. It hold general information like
          the Parent point of the BrainStorm, Construct it belongs to and options to review brain storms mapped to constructs. BrainStorm should not be left
          floating. It should be mapped to a Construct.<br>
          <strong class="text-info">BrainStorm Sessions</strong> - Will open up and show you the last BrainStorm you were working upon. To change the brainstorm click on "Start Different Session"
          button, either start a new brain storm session or select a previous one.<br>
          Under "Start" you would see data in two columns. The left is the parent point or main point and the right column holds the sub points or child points which
          belong to the respective parent point. Add data directly into them and keep building your brain storm. To map to a construct select "Construct Mapping" button
          and select construct to map with. One brain storm can belong to only on Construct.
          <br>
          This is the only place where editing of brain storms are allowed. BrainStorms are never finalized, they are always in editing mode. To view a complete
          brain storm, review the construct to which it is mapped.
        </p>
      </div>

      <div class="tab-pane fade" id="link_cache">
        <div class="lead text-info">Link Cache</div>
        <p>
          LinkCache furthers the concept of browser bookmarking and brings it into a centralized place. Store your links according to category
          and provide description for the link you want to store. In this way you will have access to that link and its description through MentalConstructs
          on any machine under the sun.<br><br>
          LinkCache Tab in Thinker Panel-<br>
          LinkCache has 3 components -
          <strong class="text-info">LinkCache Form</strong> - This is a form that allows you to give a description, link and select an existing category or
          create a new category for your link. To select categories click "Category Options" button which would toggle new Category or existing category option.<br>
          <strong class="text-info">Category Display</strong> - This holds links to all your categories for links. Clicking on them would display all the links held in the category below.<br>
          <strong class="text-info">Category Link Display</strong> - This holds all the links that are present in that category. The description would describe the link
          and you can visit the link directly from here<br>
        </p>
      </div>

      <div class="tab-pane fade" id="to_do_list">
        Remembrall
      </div>

      <div class="tab-pane fade" id="bookmarks">
        Bookmarks
      </div>

      <div class="tab-pane fade" id="exhibits">
        Exhibits
      </div>


    </div>
  </div>
    </div>
</div>
<script>
    $('#how_to_useTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
