<p style="color: white;font-size: 15px">How to use -</p>
<div class="row-fluid">
  <div class="span3">
    <div class="blanker-box" style="padding: 13px">
<ul class="nav nav-pills nav-stacked" id="how_to_useTabs">
  <li class=""><a href="#constructs"><i class="icon-book icon-white"></i> Constructs</a></li>
  <li><a href="#ideas" data-toggle="tab"><i class="icon-cog icon-white"></i> Cognitions</a></li>
  <li><a href="#epiphanies" data-toggle="tab" class=""><i class="icon-th icon-white"></i> Epiphanies</a></li>
  <li><a href="#brain_waves" data-toggle="tab"><i class="icon-eye-open icon-white"></i> BrainWaves</a></li>
  <li><a href="#factoids" data-toggle="tab"><i class="icon-qrcode icon-white"></i> Factoids</a></li>
  <li><a href="#brain_storm" data-toggle="tab"><i class="icon-cog icon-white"></i> BrainStorm</a></li>
  <li><a href="#link_cache" data-toggle="tab"><i class="icon-tags icon-white"></i> LinkCache</a></li>
  <li><a href="#to_do_list" data-toggle="tab"><i class="icon-list icon-white"></i> Remembrall</a></li>
  <li><a href="#bookmarks" data-toggle="tab"><i class="icon-bookmark icon-white"></i> Tagged Exhibits</a></li>
  <li class="divider"></li>
  <li><a href="#exhibits" data-toggle="tab"><i class="icon-globe icon-white"></i> Exhibits</a></li>
</ul>
  </div>
  </div>
  <div class="span9">
  <div class="blanker-box" style="padding: 13px">

    <div class="tab-content">
      <div class="tab-pane fade in active" id="">
        <p>Mental Constructs is a Tool which allows you to record thoughts, ideas , facts , links. You can Upgrade them to Constructs and then Exhibit them.
          You can start BrainStorm sessions and map them to constructs. These wide variety of features should be understood well before they are actually used.
          This tutorial will allow you to understand each feature. <br>
          Click on the feature to read in detail  -
        </p>
      </div>

      <div class="tab-pane fade" id="constructs">
        <div class="lead text-info">Constructs</div>
        <p>
          Constructs are compiled thoughts that have been created with much deliberation and thought. It is an essay which depicts a
          concept of yours in a detailed manner.<br><br>

          Function of Each Tab under Constructs Tab in Thinker Panel-<br>
          <strong class="text-info">New Construct -</strong> The editor exists in New Construct Tab. You may use this editor extensively for your purpose
          or may write your Construct elsewhere and copy it here. Many options are present here eg - "Select Dossier", "Affinity Level", "Exhibit" etc ...<br>
          &nbsp;&bull;&nbsp;Select Dossier - Directly insert the new construct into an already existing Dossier.<br>
          &nbsp;&bull;&nbsp;Affinity Level - How much do you like the written Construct. Easier later on to define and categorize constructs.<br>
          &nbsp;&bull;&nbsp;Exhibit Construct - This will directly exhibit the construct on creation. This cannot be undone. So please be sure of your construct.<br>
          <strong class="text-info">Organizer -</strong> We encourage extensive use of Dossiers. Organize your Constructs in Dossiers for easy recollection and second tier
          categorization. You can move any number of Constructs to a Dossier. You can have any number of Dossiers. You can easily remove constructs and add them to other Dossiers.<br>
          &nbsp;&bull;&nbsp;StandAlone - Contains all the constructs not attached to any Dossier.<br>
          &nbsp;&bull;&nbsp;Other Tabs below StandAlone are your dossiers containing your constructs.<br>
          &nbsp;&bull;&nbsp;You can set the dossier quality according to your preference of the Dossier and its contents.
          <br>
          <strong class="text-info">List Constructs -</strong> Will list all your Constructs written till date. It has an option of displaying Constructs
          in any order you wish. Select the Choice from the Drop Down and "Display". Your required Constructs will be displayed. Each Block displays
          details about the construct, ie. Construct Quality, Dossier it belongs to, BrainStorms attached. It has easy options to immediately start reviewing or editing
          your constructs
          <br>
          <br>
          <strong class="text-info">BrainStorm Mapping -</strong>BrainStorm Sessions can be mapped to Constructs. To map a BrainStorm, start the
          Brain Storm Session you would like to map and click "Construct Mapping". Choose your construct and Map. One Construct can be mapped with only one
          BrainStorm. An already mapped BrainStorm cannot be mapped to another construct and vice versa.
        </p>
      </div>

      <div class="tab-pane fade" id="cognitions">
        Cognitions
      </div>

      <div class="tab-pane fade" id="epiphanies">
        Epiphanies
      </div>

      <div class="tab-pane fade" id="ideas">
        Ideas
      </div>

      <div class="tab-pane fade" id="brain_waves">
        Brainwaves
      </div>

      <div class="tab-pane fade" id="factoids">
        Factoids
      </div>

      <div class="tab-pane fade" id="brain_storm">
        BrainStorms
      </div>

      <div class="tab-pane fade" id="link_cache">
        Link Cache
      </div>

      <div class="tab-pane fade" id="to_do_list">
        Remembrall
      </div>

      <div class="tab-pane fade" id="bookmarks">
        Bookmarks
      </div>

      <div class="tab-pane fade" id="exhibits">
        Exhibits
      </div>


    </div>
  </div>
    </div>
</div>
<script>
    $('#how_to_useTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
